Flask
flask-cors
Flask-JWT-Extended
Flask-SQLAlchemy
gunicorn
python-dotenv
psycopg2-binary

faiss-cpu
bitsandbytes
google-genai
hdbscan
huggingface-hub
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
numpy
pandas
pillow
pytesseract
ragas
scikit-learn
scipy
sentence-transformers
torch
transformers
unstructured[pdf]
